.navbar {
    background-color: #208070;
}

.navbr a {
    color: #f2f2f2;
}
 .ml2 {
    margin-left: 20px;
 }

 .mt2 {
    margin-top: 20px;
 }
 
 .title {
     font-weight: 500;
     margin: 20px 0;
 }

 .my2 {
    margin: 20px 0;

 }
 
 .footer {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px 0;
 }