.navbar {
    background-color: #208070;
}

.navbar a , .navbar button{
    color: #f2f2f2!important;
}
 .ml2 {
    margin-left: 20px;
 }

 .mt2 {
    margin-top: 20px;
 }
 
 .title {
     font-weight: 500;
     margin: 20px 0;
 }

 .my2 {
    margin: 20px 0;

 }
 
 .footer {
     position: relative;
     left: 0;
     right: 0;
     bottom: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px 0;
 }

 .form {
     width: 100%;
 }

 @media screen and (max-width: 540px){
    .footer {
        position: static;

    }
     
 }